/*================================= リセット */
html {
	font-size: 62.5%; /* font-sizeで10pxを1remで指定するための準備 */
}

body { /* ウインドウの周囲に空きができるブラウザのスタイルをリセット */
	margin: 0;
	padding: 0;
}

body * { /* bodyのすべての子要素（全称セレクタ） */
	box-sizing: border-box; /* widthとheightプロパティにpaddingを含む */
	position: relative; /* position: absolute;を指定する時に毎回親要素にrelativeを指定しなくても良いように */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; /* 要素の上下に空きができるブラウザのスタイルをリセット */
}

p,
ul,
ol,
dl,
dd {
	margin: 0; /* 要素の上下左右に空きができるブラウザのスタイルをリセット */
	padding: 0; /* 要素の上下左右に空きができるブラウザのスタイルをリセット */
}

ul,
ol {
	list-style-type: none; /* リスト項目の黒丸や数字を表示しない */
}

figure {
	vertical-align: bottom; /* 要素の上下に空きができるブラウザのスタイルをリセット */
	line-height: 1;
	margin: 0;
}

img {
	width: 100%; /* 親要素のwidthプロパティを指定すれば同じ縦横比でimgを表示する */
	height: auto; /* 親要素のwidthプロパティを指定すれば同じ縦横比でimgを表示する */
	vertical-align: bottom; /* 要素の上下に空きができるブラウザのスタイルをリセット */
}

a,
input[type='submit'],
input[type='button'] {
	transition: all .3s; /* マウスオーバーの変化をふわっとさせる */
	text-decoration: none; /* アンダーラインを非表示 */
}

a:hover,
input[type='submit']:hover,
input[type='button']:hover {
	opacity: .7; /* マウスオーバーでちょっと色を薄くする */
}

input,
select,
button {
	appearance: none;/* ブラウザのスタイルをリセット */
}




/*=================================デフォルト設定 */

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  color: #444;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .inner {
    width: 1024px;
    margin: 0 auto;
  }

  section h1 {
    font-size: 4.2rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0 0 46px;
  }

  /* ボタンの設定 */
button { /* ボタンのブラウザのスタイルをリセット */ 
  border: none;
  padding: 0;
  background: transparent;
}

button a,
button[type='submit'] { /* 全てのボタンの見た目 */
  color: #ffffff;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 100px;
  height: 43px;
  border-radius: 5px;
}

  /*=================================ヘッダー設定 */
header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

#logo img {
  width: 255px;
}

.header-menu li {
  width: 140px;
  text-align: center;
  display: inline-block; 
}

.header-menu li a {
  color: #444;
}

header input[type='search'] {
  display: none;
}

/* ================================メイン画像の設定 */

.main-message {
  width: 100%;
  height: 480px;
  background: url(images/kv.png) no-repeat center center / cover;
}

.main-message::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,0,0,.3);
  position: absolute;
  left: 0;
  top: 0;
}

.main-message .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* あなたの「お気に入りの景色」の文字 */
.main-message p {
  font-size: 4.2rem;
  font-weight: 400;
  color: #ffffff;
}

/* フェイバリット・ビューの文字 */
.main-message p small {
  font-size: 1.6rem; 
  position: absolute;
  top: -20px; 
  left: 50%; 
  transform: translateX(-50%);
}

.main-message button {
  position: absolute;
  right: 0;
  bottom: 30px;
} 

/* =========================「おすすめ特集」の設定 */

#reccomend {
  padding: 50px 0 140px;
}

/* おすすめ特集の文字 */
#reccomend h1 {
  margin: 0 0 30px;
  color: red;
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-align: center;
}

/* おすすめ特集の下の文字（フェイバリット・ビューがおすすめする） */
#reccomend h1 + p {
  margin-bottom: 30px;
  color: #a8a8a8;
  text-align: center;
}

#reccomend .flex {
  margin-bottom: 40px;
}

/* 各コンテンツ */
#reccomend .flex div {
  width: 240px;
}

/* 画像の設定 */
#reccomend .flex img {
  width: 100%;
  height: 150px;
  object-fit: cover; 
  display: block;
  margin: 0 0 10px;
}

/*見出し*/
#reccomend .flex h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

/*値段*/
#reccomend .flex .price {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 「もっと見る」ボタンの設定 */
.reccomend-button {
  position: absolute;
  bottom: -90px;
  right: 0;
}


/* ==========================「海外ツアーを探す」の設定 */
#tour-search{
  background-color: #e5eff7;
  padding: 50px 0;
}

/* マップ画像の設定 */
.map {
  background-image: url('images/map.png');
  background-repeat:  no-repeat;                         
  background-position: left center;                            
  background-size: contain;                               
  width: 660px;                                            
}

.area li a {
  color: #fff;
  background: #ff0000;
  display: block;
  padding: 5px 10px;
  position: absolute;
}

/* 国の名前のボタン */
.area .north-america a {
  top: 140px;
  right: 140px;
}
.area .africa a {
  top: 203px;
  left: 10px;
}
.area .asia a {
  top: 180px;
  left: 205px;
}
.area .micronesia {
  top: 200px;
  left: 350px;
}

.area .oceania a {
  top: 288px;
  left: 255px;
}

.area .latin-america a {
  top: 275px;
  right: 60px;
}

/* ===============フォームの設定 */
.tour-form {
  width: 300px;  /*フォーム全体の幅*/
}

.tour-form select,
.tour-form input[type="date"],
.tour-form input[type="search"] {
  width: 100%;
  height: 40px;
  padding: 0 13px;
  color: #626262;
	border: #ebebeb;
	background: #fff;
}

.tour-form input[type='search'] {
	padding: 0 13px 0 43px;
}

.tour-form input[type='search']::placeholder {
	color: rgba(98, 98, 98, .5);
}

.tour-form dl {
	margin: 0 0 40px;
}

.tour-form dt {
	margin: 0 0 10px;
}

.tour-form dd {
	margin: 0 0 20px;
} 

.tour-form dd.departure:after,
.tour-form dd.destination:after {
	content: '';
	width: 10px;
	height: 6px;
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	background: #ff0000;
	position: absolute;
	right: 10px;
	top: calc(50% - 3px);
}

.tour-form dd.keyword:after {
	content: '';
	width: 20px;
	height: 20px;
	background: url(images/ico_zoom.png) no-repeat center center / contain;
	display: block;
	position: absolute;
	left: 10px;
	top: calc(50% - 10px);
}

.tour-form button {
  width: 100%;
}


/* ===========================-スタッフの海外旅行記 */

/* 画像と文字の配置設定 */
#travelblog {
  padding: 50px 0 140px;
}

#travelblog .flex > div {
  display: flex;
  width: 330px;
  justify-content: space-between;
  margin: 0 0 30px;
}

/*画像 */
#travelblog .flex img {
  width: 100px;
  height: 100px;
  object-fit: cover; 
}
  
  /* 文字設定 */

  #travelblog .flex .text {
  width: 218px;
  }

#travelblog h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

#travelblog .pic {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* 「もっと見る」ボタン */
#travelblog button {
  position: absolute;
  bottom: -73px;
  right: 0;
  }


/* ================================フッター設定 */
footer {
  background-color: #2c3e4a;
  padding: 50px 0 24px;
}

footer .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer01 {
  color: #fff;
}

footer .logo {
  display: block;
  width: 100%;
  margin: 0 0 23px;
}

footer .logo img {
  width: 200px;
}

.footer01 ul li {
  line-height: 1.6;
}

.footer01 ul li.tel,
.footer01 ul li.mail {
  padding: 0 0 0 20px;
}

/* アイコン追加 */
.footer01 ul li::before {
  content: '';
  position: absolute;
  left: 0; 
  top: 50%;
  transform: translateY(-50%);
  width: 16px; 
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer01 ul li.tel::before {
  background-image: url('images/ico_phone.png'); 
}

/* メールアイコン */
.footer01 ul li.mail::before {
  background-image: url('images/ico_mail.png'); 
}

  /* SNSアイコンのスタイル */
.sns {
  justify-content: flex-start;
  gap: 1px;
  margin: 20px 0 0;
}

/* アイコン白背景 */
.sns li {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.sns li:nth-of-type(1) img {
  width: 9px;
}

.sns li:nth-of-type(2) img {
  width: 17px;
}

.sns li:nth-of-type(3) img {
  width: 15px;
}

.footer-nav {
  display: flex;
  gap: 0 125px;
  margin: 0 0 23px;

}

/* navのリストのテキストの前に■をつける */
.footer-nav ul {
  list-style-type: square;
}

.footer-nav ul li {
  color: #fff;
  line-height: 2.3;
}

/* footer02,03の文字の色 */
.footer-nav ul li a {
  color: #7da5bf;
}


/* コピーライトのスタイル */
p.copyright {
  padding-top: 24px;
  text-align: center;
  color: #cccccc;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

/* SPメニュー非表示 */
.menu_wrapper {
  display: none;
}



/* ======================================================スマホ対応 */

/* 以下の例では、画面幅が767px以下のときにスタイルが適用されます */
@media screen and (max-width: 650px) {

.inner {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  padding: 0 15px;
}
  
/* ====================ヘッダーメニュー非表示*/
.header-menu{
  display: none;
}

/* 幅を指定 */
.ham {
  width: 600px;
  margin: 0 auto;
}

/* ===========ハンバーガーメニュー */

/*問題点　ハンバーガーメニューが右に表示できない*/

/* 枠 */
.ham {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
  background-color: #fff;
	border: 1px solid #656565;
  border-radius: 5px;
}  

/* 三本線 */
.ham_line {
	position: absolute;
	left: 6px;
	width: 26px;
	height: 2px;
	background-color: #656565;
}

.ham_line1 {
	top: 10px;
}
.ham_line2 {
	top: 18px;
}
.ham_line3 { 
	top: 26px;
}

.ham_line {
	transition: all 0.3s;
}

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 20px;
}
.menu_wrapper {
  display: none; /* 初期状態ではメニューを非表示 */
  position: fixed;
  top: 0;
  right: 0;
	width: 300px;
	height: 300px;
	background-color: #ad795e;
  transition: all 0.3s;
  z-index: 10000;
}

.show {
  display: block; /* ハンバーガーメニューをクリックするとメニュー表示 */
}

.menu ul {
  list-style: none;
  padding: 20px;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

/* ??? */
.clicked .menu {  
	left: 8px;
}


/* ====================SP ロゴ設定 */
#logo img {
  width: 340px;
}

/*問題点 位置 */
#search-form input[type="image"] {
  display: block;
  top: 28px;
  left: 0;
  width: 35px;
}

/* メインの画像 */
.main-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 251px;
  background: url(images/kv.png) no-repeat center center / cover;
}

.main-message::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,0,0,.3);
  position: absolute;
  left: 0;
  top: 0;
}

.main-message .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 問題　文字の位置関係が固定されない（画面幅650px以下にすると文字位置がバラバラになる） */
/* あなたの「お気に入りの景色」の文字 */
.main-message p {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;          
  padding: 0 10px; 
}

/* フェイバリット・ビューの文字 */
.main-message p small {
  white-space: nowrap;
  display: block;
  font-size: 2.0rem; 
  position: absolute;
  top: -30px; 
  left: 50%; 
  transform: translateX(-50%);
}

/* ボタンの設定 */
button { /* ボタンのブラウザのスタイルをリセット */ 
  border: none;
  padding: 0;
  background: transparent;
}

button a,
button[type='submit'] { /* 全てのボタンの見た目 */
  color: #ffffff;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}

.main-message button {
  position: absolute;
  right: 20px;
  bottom: 20px;
} 

/* =========================「おすすめ特集」の設定 */

#reccomend {
  padding: 50px 0 140px;
}

/* おすすめ特集の文字 */
#reccomend h1 {
  margin: 0 0 30px;
  color: red;
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-align: center;
}



/* =========================「おすすめ特集」の設定 */

/* ??? */
#reccomend {
  padding: 50px 0 140px;
}

/* おすすめ特集の文字 */
#reccomend h1 {
  margin: 0 0 30px;
  color: red;
  font-size: 4.2rem;
  font-weight: 400;
  text-align: center;
}

#reccomend p {
  margin-top: 30px;
  color: #a8a8a8;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}

/* わからないのでPC設定のまま */
#reccomend .flex {
  margin-bottom: 40px;
}

/* わからないのでPC設定のまま */
/* 各コンテンツ */
#reccomend .flex div {
  width: 240px;
}

/* 画像の設定 */
#reccomend .flex img {
  width: 285px;
  height: 188px;
  object-fit: cover; 
  display: block;
  margin: 0 0 9px;
}


/* SP用のPSデザインカンプのフォントが平成角ゴシックとかヒラギノ角ゴ ProNになってるのにここで気づきました。これはNoto Sans JPで指定しているので、設定しても大きさとか異なってしまう気がします。 */
/*見出し*/
#reccomend .flex h2 {
  font-size: 2.7rem;
  font-weight: 400;
  margin: 0 0 10px;
}

/*値段*/
#reccomend .flex .price {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

#reccomend .flex p {
  font-size: 2.4rem;  
  color: #444444;  
  margin: 0 0 15px; 
}

/* 「もっと見る」ボタンの設定 */
.reccomend-button {
  position: absolute;
  bottom: -90px;
  right: 0;
}

}